/.dist
/.idea
/.IN-PROGRESS
/.vscode
/Courses/_Index_Courses.md
/Courses/PCEP-From-Zero-to-Certified-Entry-Level-Python-Programmer/1-Basic-Concepts/_Index_1-Basic-Concepts.md
/Courses/PCEP-From-Zero-to-Certified-Entry-Level-Python-Programmer/_Index_PCEP-From-Zero-to-Certified-Entry-Level-Python-Programmer.md
.vscode\projects.json
/Python-Packages-Docs
